<ActionBar title="Search">
</ActionBar>

<side-drawer-page>
  <GridLayout class="Search-page p-30">
      <Label
          class="h1 page-text"
          [text]="text"
          textWrap="true">
      </Label>
      <StackLayout>
          <TextField hint="Search Something Like La La Land..." autocorrect="false" autocapitalizationType="none" [(ngModel)]="querystring"></TextField>
          <Button text="Search" (tap)="executesearch()"></Button>
      </StackLayout>


  </GridLayout>
</side-drawer-page>
