<ion-view title="Kong skull island" hide-back-button="true" id="page5">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/44LdLqgOpjo?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="kongSkullIsland-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <div id="kongSkullIsland-container1">
      <div id="kongSkullIsland-button-bar9" class="button-bar">
        <button id="kongSkullIsland-button29" class="button button-balanced  button-block">Like</button>
        <button id="kongSkullIsland-button30" class="button button-assertive  button-block">Dislike</button>
      </div>
    </div>
    <button id="kongSkullIsland-button32" class="button button-positive  button-block">Reserve</button>
  </ion-content>
</ion-view>