<ion-view title="Me" id="page6">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/HCJBeunHRsinBmQ52M98_favicon.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="me-list2">
      <ion-item class="item-avatar item-icon-right" id="me-list-item11">
        <img src="img/dFDf4ljRAW1iaksuf9EB_favicon.png">
        <h2>Myself</h2>
        <i class="icon ion-android-arrow-down"></i>
      </ion-item>
    </ion-list>
    <div class="item item-body" id="me-list-item-container2">
      <div id="me-markdown6" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>This is me</strong>
        </p>
      </div>
    </div>
    <div class="item item-body" id="me-list-item-container6">
      <div id="me-markdown12" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Liked</strong>
        </p>
      </div>
      <div>
        <img src="img/1v32ccy4Q6y2JkkoY5JZ_WechatIMG45.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div class="item item-body" id="me-list-item-container3">
      <div id="me-markdown8" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Reserved</strong>
        </p>
      </div>
      <div>
        <img src="img/0TEDAnvSMaBJuBFgCFQw_WechatIMG46.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div class="item item-body" id="me-list-item-container5">
      <div id="me-markdown11" class="show-list-numbers-and-dots">
        <p style="margin-top:0px;color:#000000;">
          <strong>Account</strong>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>