<ion-view title="Motify" id="page1">
  <ion-content padding="true" class="has-header">
    <h3 id="motify-heading1" style="color:#000000;">Trending</h3>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="motify-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="motify-slide25" style="background:url(&quot;img/ZCOcjEOJSluQJcNmcq8f_WechatIMG46.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="motify-slide24" style="background:url(&quot;img/sK1sK0gAQ8yuJQkB5tGD_WechatIMG45.jpeg&quot;) no-repeat center;background-size:cover;">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="motify-slide26" style="background:url(&quot;img/GbKIhDPLSl6i1JWeyG6J_WechatIMG47.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <h3 id="motify-heading2" style="color:#000000;">Recommend</h3>
    <ion-list id="motify-list5">
      <ion-item class="item-thumbnail-left" id="motify-list-item16" ui-sref="menu.kongSkullIsland">
        <img src="img/6wlid0XpSj2aX8Bldc7p_WechatIMG48.jpeg">
        <h2>Kong skull island</h2>
        <p>118 min</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="motify-list-item17">
        <img src="img/kl8IA0rRTyolY89wVxjr_WechatIMG49.jpeg">
        <h2>Kedi</h2>
        <p>120min</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="motify-list-item18">
        <img src="img/T3NHQe8USOuzG27EWxfD_WechatIMG50.jpeg">
        <h2>Logan</h2>
        <p>122min</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="motify-list-item19">
        <img src="img/gokcsiMLSdOjbdvZlGsO_WechatIMG51.jpeg">
        <h2>Power Rangers</h2>
        <p>125min</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>