<ion-view title="Search" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="search-form1" class="list">
      <label class="item item-input" id="search-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Things like La La Land...">
      </label>
    </form>
    <div id="search-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Recent Search</strong>
      </p>

      <p style="color:#000000;">Fantastic Beasts</p>

      <p style="color:#000000;">Beauty and Beasts</p>

      <p style="color:#000000;">Kong Skull Island</p>
    </div>
  </ion-content>
</ion-view>