<ion-view title="Trend" id="page10">
  <ion-content padding="true" class="has-header">
    <h3 id="trend-heading11" style="color:#000000;">Nearby</h3>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider6" delegate-handle="slider6" id="trend-slider6" style="width:100%;height:200px;">
      <ion-slide-page id="trend-slide219" style="background:url(&quot;img/GMwclvNCRwGDfeOeNGmg_WechatIMG45.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="trend-slide220" style="background:url(&quot;img/0br8xptyTuvEFb6HBeJA_WechatIMG46.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="trend-slide221" style="background:url(&quot;img/ENWCAk9GSSWDn8qMeJFb_WechatIMG47.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <h3 id="trend-heading12" style="color:#000000;">Hot everywhere</h3>
    <div>
      <img src="img/wRcEkpQkPlbWOJJzigyg_WechatIMG52.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/ypdBuUFQZOBeP19uPAV6_WechatIMG54.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <img src="img/8F3z9JyfRM6xPiZTlvf4_WechatIMG53.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>